
/** Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
**/
* {
    margin: 0;
    Padding: 0;
    box-sizing:border-box
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
    text-align: center;
}
.main-header-top-bar{
    background-color: #EAC926;
    padding: 20px;
}

.logo{
    width: 80%;
    padding-bottom: 10px;
    max-width: 300px;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    border-radius: 5%;
    margin: 20px;
}

.search-input{
    border:none;
    width: 85%;
    margin-left: 2px;
}
.searchbar i{
    margin-right: 2px;
}


.hamburger-button{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;

}
.hamburger-button i {
padding: 5px
}

.main-navbar{
    display:none
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    text-align: center;
}
.copy-header {
    font-weight: 400;
    font-size: 5vw;
    max-width: 400px;
    margin: auto
}



main{
text-align: left;
background-color:  #ebebeb;
padding-bottom: 20px;
}

.banner{
    width: 100vw;
    height: auto;
}


main h1{
font-size: 24px;
padding: 10px;
}


.ultima-busqueda, .ofertas{
    display: flex;
    justify-content: space-around;
    margin:10px;
    padding: 20px;
    flex-wrap: wrap;
}


.detalle-producto {
    background-color: white;
    margin:10px;
    border: 1px solid #ebebeb;
    max-width: 250px;
}

.detalle-producto:hover {
    box-shadow: -1px 2px 74px -17px rgba(0,0,0,0.73);
    -webkit-box-shadow: -1px 2px 74px -17px rgba(0,0,0,0.73);
    -moz-box-shadow: -1px 2px 74px -17px rgba(0,0,0,0.73);
}

.detalle-producto img {
width: 90%;
text-align: center;
margin: 5px;
}


.detalle-producto i{
color: #39b54a;
background-color: floralwhite;
margin:5px;
padding: 5px;
border: 1px solid #39b54a;
border-radius: 50% ;
position: relative;
left: 200px;
bottom:-20px;
transition: all 1s
}

.detalle-producto i:hover{
    transform: rotate(-90deg);
        }

.detalle-producto ul{
    list-style: none;
display: flex;
flex-wrap: wrap;
    padding: 20px 10px 10px;
    border-top: 1px solid #ebebeb;
}



.precios{
font-size: 18px;
}

.descuentos{
font-size: 16px;
color: #39b54a;
margin-left: 20px;
}

.descripciones{
    font-size: 16px;
    margin-top: 10px;
    display: none;
}

.detalle-producto:hover .descripciones{
    Display: block;
        }

footer{
text-align: center;
margin-top: 20px;
padding: 10px
}

.footerdivisiones i{
    width: 2em;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 2px;
    color:#1259c3;
}

.footerdivisiones h2{
    font-size: 18px;
    margin: 1px;
}

.footerdivisiones p{
    font-size: 12px;
    margin-bottom: 5px;
}
.copyright{
    margin-top: 15px;
    margin-bottom: 15px
}


/* register* mobile firts*/

.registro-form, .login-form{
    width:90%;
    margin-left:5%;
    margin-bottom: 10px;
}

.registro-form div, .login-form div {
    margin: 20px 0;
}
.registro-form div input, .login-form div input{
    display: block;
    width:100%;
    font-size: 17px;
    padding: 2px;
    border: none;
    background-color: white;
    margin-top: 5px;
    padding: 6px
}

.userprofile, .categories{
display: flex;
flex-direction: column;
}

.compra, .venta, .labelintereses {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 50%
}

.compra input  {
    justify-self: center;
    position: relative;
    bottom: 2px;
    right: 25px;
}

.venta input  {
    justify-self: center;
    position: relative;
    bottom: 2px;
    right: 20px;
}

.labelintereses input {
    justify-self: center;
    position: relative;
    bottom: 2px;
    right: 20px;
}

.labelform{
    width: 100%;
    text-decoration: underline;
}
.submit, .reset{
background-color: dodgerblue;
color: white;
width: 30%;
position:relative;
left: 20%;
}

.submit-login{
background-color: dodgerblue;
color: white;
width: 30%;
position:relative;
left: 35%;
}


/* Media query + 780 */

@media (min-width: 780px){
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        max-width: 1200;
    }

    .logo{
        width: 30%;
    }

    .searchbar{
        width: 80%;
        height: 35px;
    }

    .copy-header{
        max-width: 350px;
        text-align: right;
        font-size: 24px;
        margin: 0px;
    }

    .hamburger-button{
        display: none
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
        ;
    }
    .main-navbar li {
        margin: 0 5px
        ;
    }

    .detalle-producto {
        display: inline-block
    }
    
    .footerdivisiones {
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        padding-top: 5px;
        }

        .footerdivisiones article{
            padding:5px

        }

        /* Register/login form*/

        .registro-form, .login-form{
            width:70%;
            margin-left:15%;
            margin-bottom: 20px;
            height: auto;
        }

        .submit, .reset{
            width: 15%;
            left: 70%;
            }
        
         .submit-login{
                background-color: dodgerblue;
                color: white;
                width: 15%;
                position:relative;
                left: 85%;
                }

}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }

    .copy-header{
        max-width: none;
        margin: 0;
        font-size: 25px;
        font-weight: 400;
    }

    .main-navbar{
        margin-top: 25px;
    }

    .main-navbar li {
        margin: 0 10px
    }

    .main-navbar a {
             font-size: 19px;
    }
}